




/*
     FILE ARCHIVED ON 8:19:21 Jan 13, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 1:06:39 Jul 14, 2014.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.MessageList li.Comment .CommentTable .Photo {
   height: 85px;
   position: relative;
   overflow: visible;
}

li.Comment .CommentTable .Photo a.PosterOnline {
   position: absolute;
   top: 80px;
   left: 39px;
}

li.Comment .CommentTable .Photo .PosterOnlineImage {
   width: 82px;
   height: 13px;
   background: url('/web/20120113081921/http://autostatic.forums.penny-arcade.com/plugins/OnlineGlow/design/images/offlineglow.png') top left no-repeat;
}

li.Comment.Online .CommentTable .Photo .PosterOnlineImage {
   background: url('/web/20120113081921/http://autostatic.forums.penny-arcade.com/plugins/OnlineGlow/design/images/onlineglow.png') top left no-repeat;
}

.Profile .PhotoBox .Photo {
   padding-bottom: 5px;
   position: relative;
   overflow: visible;
}

.PhotoBox .Photo a.PosterOnline {
   position: absolute;
   bottom: -8px;
   left: 40px;
}

.PhotoBox .Photo .PosterOnlineImage {
   width: 180px;
   height: 13px;
   background: url('/web/20120113081921/http://autostatic.forums.penny-arcade.com/plugins/OnlineGlow/design/images/profile-offlineglow.png') top left no-repeat;
}

.PhotoBox.Online .Photo .PosterOnlineImage {
   background: url('/web/20120113081921/http://autostatic.forums.penny-arcade.com/plugins/OnlineGlow/design/images/profile-onlineglow.png') top left no-repeat;
}