




/*
     FILE ARCHIVED ON 8:19:22 Jan 13, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 1:09:57 Jul 14, 2014.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
body ul div.Comment blockquote.UserQuote {
   padding: 5px 10px;
   margin-right: 10px;
   font-style: italic;
   background-color: #ABDAFB;
}

div.Comment blockquote.UserQuote div.QuoteAuthor {
   font-style: normal;
}

div.Comment blockquote.UserQuote div.QuoteText {
   color: #232323;
   border-left: 1px solid grey;
   padding-left: 5px;
}