




/*
     FILE ARCHIVED ON 8:19:21 Jan 13, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 1:09:57 Jul 14, 2014.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.UserSignature {
   border-top: 1px solid #595959;
   padding: 2px 0px;
   font-size: 11px;
   margin-top: 10px;
}

.Comment .Message .UserSignature p {
   padding: 0px;
   margin: 2px 0px;
}