@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 400;
	src:
		local('Yanone Kaffeesatz Regular'),
		local('YanoneKaffeesatz-Regular'),
		/* from https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff */
		url('../fonts/Yanone_Kaffeesatz_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLfGwxTS8d1Q9KiDNCMKLFUM.woff2 */
		url('../fonts/Yanone_Kaffeesatz_400.woff2') format('woff2');
}

@font-face {
    font-family: "aktiv-grotesk";
    src: url(/theme/font/aktiv-grotesk-upright-variable-weight.woff2)
      format("woff2");
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "aktiv-grotesk";
    src: url(/theme/font/aktiv-grotesk-italics-variable-weight.woff2)
      format("woff2");
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-weight: 100 900;
    font-style: oblique;
    font-display: swap;
  }

  @font-face {
    font-family: "Walsheim";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("GT Walsheim"),
      url(/theme/font/GT-Walsheim-Bold.woff2)
        format("woff2"),
      url(/theme/font/GT-Walsheim-Bold.woff)
        format("woff");
  }

  @font-face {
    font-family: "Walsheim";
    font-style: oblique;
    font-weight: 700;
    font-display: swap;
    src: local("GT Walsheim"),
      url(/theme/font/GT-Walsheim-Bold-Oblique.woff2)
        format("woff2"),
      url(/theme/font/GT-Walsheim-Bold-Oblique.woff)
        format("woff");
  }