
/*
     FILE ARCHIVED ON 23:48:34 Feb 15, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:37:03 Jan 26, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 749.142
  xauthn.identify: 547.429
  RedisCDXSource: 79.75
  load_resource: 1164.886
  exclusion.robots: 547.721
  CDXLines.iter: 13.322 (3)
  PetaboxLoader3.datanode: 301.978 (4)
  xauthn.chkprivs: 0.035
  exclusion.robots.policy: 547.706
  PetaboxLoader3.resolve: 209.588
  LoadShardBlock: 104.818 (3)
  esindex: 0.017
*/